/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #007BFF;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0056b3;
}

main p {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f1f1f1;
    color: #666;
    padding: 10px;
}

footer a {
    color: #007BFF;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    nav li {
        display: block;
    }
}